{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body style="background-color:black; color:rgb(0, 136, 255); display:flex;
   flex-direction:column; justify-content:space-between; align-items:center;">

    <h1>Profile</h1>
    {%if userProfile.profile_image %}
    <img src="{{ userProfile.profile_image.url }}" alt="Profile Image" width="300px" style="border: 1px solid rgb(0, 136, 255);">
    {%else%}
     <img src="{% static 'images/defaultAvatar.png' %}" alt="">
    {%endif%}
    <p><span>{{userProfile.user.username}}</span></p>
    <p>Bio:</p>
    <p>{{userProfile.bio}}</p>
    <div>
        <p>Posts:</p>
        {%for post in posts%}
        <div style="border:1px solid rgba(2, 251, 2, 0.683); min-height: 80px; width:80vw; margin:10px;" >
            <p>{{post.body}}</p>
        </div>
        
        {%endfor%}
    </div>

    <div>
        <p>Liked Tweets:</p>
        {%for like in likes%}
        <div style="border:1px solid rgba(251, 147, 2, 0.683); min-height: 80px; width:80vw; margin:10px;" >
        <p>{{like.post.body}}</p>
        </div>
        {%endfor%}
    </div>


    
</body>
</html>