.sidebar {
    background-color: #000000;
    display: flex;
    height:80%;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-right: 2px solid white;
}
.newTweet {
    width: 40px;
    height: 40px;
    border: 1px solid rgb(0, 166, 255);
    border-radius: 50%;
    background-color: rgb(0, 166, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}